.main {
    background: #f8f8f8;
	display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../anh/north_background_login_desktop.png) no-repeat center;
    background-size: cover;
}

div {
    display: block;
}

body {
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
	font-family: Barlow;
    font-size: 14px;
	width: 50%;
	height: 50%;
	border-radius: 20px;
}

div.register-content{
	width: 25%;
    height: 85%;
    padding: 24px;
	border-radius: 10px;
	background-color: white;
}



div.register-form{
	width: 100%;
	height: 100%;
}

#logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}


input {
    background: 0 0;
    outline: unset;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #d6cdbc;
    width: 100%;
    outline: 0 !important;
    box-shadow: none;
}


.form-group{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}


.form-submit {
    background: #d8b979;
    box-shadow: 0 3px 25px 0 rgb(0 0 0 / 20%);
    color: #ffffff;
    margin: 10px 5px;
    font-size: 14px;
    overflow: visible;
    min-height: 42px;
    height: 100%;
    display: flex;
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 97%;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}


.sugget-text {
    display: flex;
    justify-content:center;
    margin: 0 auto;
}

.sugget-text .link > a {
    font-weight: bold;
    color: #d4b774;
    margin-left: 8px;
    cursor: pointer;
}

